extends layout

block content
	div(class='container')
		div(class='jumbotron')
			center
				h1= title
			br
			br
			center
				div(class='row')
					div(class='col-sm-6')
						h2
							a(href='/login') Instructors
					div(class='col-sm-6')
						h2
							a(href='/StudentJoin') Students
						br
						br
					div(class='col-sm-16')
						p(align="left")
							|This is the Chemical Mix Program. This is a Response Surface Methodology program designed by Dr. Douglas Montgomery, originally coded by Dr. Jeff Lanning and ported to Excel and VBA by Drs. Ray Hill and Jeff Weir with the Air Force Institute of Technology.
							br
							br
							|It has now been redesigned by The Wright Writers in conjunction with AFIR personnel and Wright State University. The developers that make up The Wright Writers are as follows: Brad Reynolds, Justin Scothorn, Lori Simmons, Ryan Lane, James Walker and Kris Williams.
							br
							br
							|This program provides a mechanism to apply the concepts of Response Surface Methodology in a notional setting. Among the uses of this program are:
							br
							|1. Steepest ascent to find better operating conditions.
							br
							|2. Robust product design in a multiple response setting.
							br
							|3. Response surface characterization with advanced designs.
							br
							br
							|Instructor mode is password protected. Student mode will prompt you for inputs to a chemical process with which multiple responses are generated. You will be prompted to enter each input variable in turn, and a summary window will allow you to generate the corresponding response(s). You will need to record those responses since the program will not do that for you. In an experimental design setting, where you might have many experimental settings, you will have to enter each design point individually, record all responses individually and repeat the process. This is to mimic the experimental nature of actual experimentation.
							br
							br
							|Enjoy!