extends layout

block content
	div(class='container')
		div(class='jumbotron')
			center
				h1= title
			br
			br
			center
				div(class='row')
					div(class='col-sm-6')
						h2
							a(href='/login') Instructors
					div(class='col-sm-6')
						h2
							a(href='/StudentJoin') Students
