extends layout

block content
	div(class='container')
		div(class='jumbotron')
			center
				h1= title
		center
			div(class='row')
				div(class='col-sm-6')
					h2
						a(href='/Login') Instructors
				div(class='col-sm-6')
					h2
						a(href='/StudentJoin') Students